{
    "presets": [
        [
            "@babel/env", {
                "targets": {
                    "browsers": [
                        "last 5 versions"
                    ]
                }
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }],
        ["@babel/plugin-proposal-class-properties", {
            "loose": true
        }],
    ]
}